
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

$font-stack:'Inter',sans-serif;
$primaryColor : rgba(32, 32, 17, 1.0);
$secondaryColor : rgba(185, 185, 206, 1.0);
$boxShadowColor:rgba(36, 36, 113, 0.49);
