@use 'variables';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

$font-stack:'Inter',sans-serif;

@mixin gridCenter{
  display: grid;
  place-items: center;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;

}

@mixin flexSpaceBetween {
  @include flexCenter;
  justify-content: space-between;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: $font-stack;
  font-size: 10px;
  font-weight: 300;
  background-image: url(/images/pattern-bg.svg);
  background-position: top center;
  background-size:contain;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  @include flexCenter;
}

.container{
  width: 100%;
  max-width: 375px;
  height: 100vh;
  @include gridCenter;
  grid-template-columns: 1fr;
}
.card{
width: 100%;
padding: 2rem;
@include gridCenter;
}