@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

$font-stack:'Inter',
sans-serif;
$primaryColor : rgba(32, 32, 17, 1.0);
$boxShadowColor:rgba(36, 36, 113,0.49);


@mixin gridCenter{
  display: grid;
  place-items: center;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;

}

@mixin flexSpaceBetween {
  @include flexCenter;
  justify-content: space-between;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  font-family: $font-stack;
  font-size: 10px;
  font-weight: 300;
  line-height: 24px;
  background-image: url(/images/pattern-bg.svg);
  background-position: top center;
  background-size:contain;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  @include flexCenter;
  flex-direction: column;
}

.container{
  width: 100%;
  max-width: 375px;
  height: 100vh;
  @include gridCenter;
  grid-template-columns: 1fr;
}
  .card{
  width: 100%;
  padding: 2rem;
  @include flexSpaceBetween;
  flex-direction: column;
  background-color: #333;

  &__header{
    width: 100%;
    height: 310px;
    @include gridCenter;
    position: relative;


    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.5rem;
      box-shadow: 0 40px 50px 5px $boxShadowColor;


    }
  }

button {
  width: 8rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 2.8rem;
  @include flexSpaceBetween;
  position: absolute;
  top: 300px;


}

  &__body{
    width: 100%;
    margin:20px 0;

    h2{
      font-size: 1.8rem;
      color:$primaryColor;
      font-weight: 300;
    }

  }
}
