@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

$font-stack:'Inter',
sans-serif;
$primaryColor : rgba(32, 32, 17, 1.0);
$secondaryColor : rgba(185, 185, 206, 1.0);
$boxShadowColor:rgba(36, 36, 113, 0.49);




@mixin gridCenter{
  display: grid;
  place-items: center;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;

}

@mixin flexSpaceBetween {
  @include flexCenter;
  justify-content: space-between;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  font-family: $font-stack;
  font-size: 10px;
  font-weight: 300;
  height: 100vh;
  width: 100%;
  line-height: 30px;
  @include flexCenter;
  flex-direction: column;
}

.container{
  width: 100%;
  max-width: 375px;
  height: 100vh;
  @include flexCenter;
  grid-template-columns: 1fr;
  position: relative;

  .pattern-curve {
    width: 285px;
    height: 70px;
    object-fit: cover;
    position: absolute;
    bottom: -50px;
    left: 0;

  }
}
  .card{
  width: 375px;
  margin-top: 50px;
  padding: 30px;
  @include flexSpaceBetween;
  flex-direction: column;
  background-image: url(/images/pattern-bg.svg);
  background-position: top center;
  background-size:contain;
  background-repeat: no-repeat;
  // box-shadow: 0 40px 50px 5px $boxShadowColor;
  position: absolute;
  transition: all 0.85s ease-in-out;

  &__header{
    width: 315px;
    height: 310px;


    &--profileImg{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.5rem;
      box-shadow: 0 40px 50px 5px $boxShadowColor;
    }

  }

  button {
    width: 80px;
    height: 40px;
    padding: 10px;
    border-radius: 28px;
    border: none;
    @include flexSpaceBetween;
    position:absolute;
    top:310px;
    box-shadow: 0 15px 20px 1px $boxShadowColor;
  }



  &__body{
    width: 100%;
    height: 230px;
    margin: 50px 0;
    @include flexCenter;
    flex-direction: column;

    img{

      width: 60px;
      height: 50px;
      object-fit: cover;
      transform: translateY(50px);

    }



    h2{
      font-size: 18px;
      font-weight: 300;
      text-align: center;
      color:$primaryColor;
    }

    &--captionTxt{
      text-align: left;
      font-size: 15px;
      font-weight: 300;
      @include flexSpaceBetween;
      flex-direction: column;


      p{
        color: $primaryColor;
        margin-bottom: 0;

      }

      small{
        color: $secondaryColor;

      }

    }

  }
}


.card-two{
  transform: translateX(2000px);
  display: none;

}
.card.active .cardTwo{
  transform: translateX(0);
  display: none;
}



.attribution {
  font-size: 11px;
  text-align: center;
  transform: translateY(30px);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}



@media(min-width:900px){
  .container{
    max-width: 1440px;
    background-size: contain;

    .pattern-curve {
      width: 610px;
      height: 151px;
      object-fit: cover;
      position: absolute;
      bottom:0;
      left: 0;
    }

  }
  .card{
    width: 1400px;
    height: 800px;
    padding: 75px;
    flex-direction: row-reverse;
    background-position: bottom right;


    &__header{
      width: 540px;
      height: 540px;
    }

    button {
      width: 112px;
      height: 56px;
      padding: 20px;
      right: 430px;
      top: 640px;

    }


    &__body{
      width: 60%;
      line-height: 38px;
      padding: 20px;
      position: relative;
      z-index: 5;
      left: 70px;

      img{
        width: 120px;
        height: 100px;
      }



      h2{
        font-size: 32px;
      }

      &--captionTxt{
      width: 50%;
      flex-direction: row;
      font-size: 20px;
      margin: 20px 0;
      align-self: flex-start;

      }

    }

  }





}
