@use 'variables';
@use 'utilities';

@mixin gridCenter($property) {
  display: grid;
  place-items: center;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;

}

@mixin flexSpaceBetween {
  @include flexCenter;
  justify-content: space-between;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 10px;
  font-weight: 300;
  background-image: url(/images/pattern-bg.svg);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  @include flexCenter;
}